/secret/
/output/
/_freeze/
.quarto/

# ---- R ----
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# ---- Caches R Markdown / Quarto ----
*_cache/
.cache/
*_files/

# ---- Quarto ----
_site/
*.html
*.pdf
*.docx

# ---- renv ----
renv/library/
renv/staging/
# Garder renv.lock et renv/settings.json

# ---- OS ----
Thumbs.db
Desktop.ini
.DS_Store

# ---- Données locales ----
data/
data_local/
*.parquet
*.csv
*.xlsx
*.rds

# ---- IDE ----
.vscode/
.idea/

# ---- Divers ----
logs/

/.quarto/
**/*.quarto_ipynb
